<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" >

  <title>Flask Template</title>


  </head>

  <body>

    {% include 'navbar_public.html' %}

    <main>

      <h1>Privacy Policy</h1>

      <p>Remember these three cardinal rules:</p>
      <ol>
        <li>
          Do not plagiarise.
        </li>
        <li>
          Do not hack into our LMS.
        </li>
        <li>
          Do not share teaching materials without consent.
        </li>
      </ol>

    </main>

    {% include 'footer.html' %}



    <script src="{{ url_for('static', filename='scripts.js') }}" type="module"></script>
  </body>

</html>