<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

  <title>Flask Template</title>


  </head>

  <body>

    {% include 'navbar_public.html' %}

    <main>

      <h1>Terms of Service</h1>

      <p>
        NUS is committed in providing all with quality access to education, as long as you have the money.
        To cater to the needs of all students, we require staff and students abide by these rules:
      </p>
      <ol>
        <li>Use our <a href="https://bitly.com/98K8eH">LMS</a> responsibly.</li>
        <li>Do not plagiarise. We do not wish to pay for copyright. Thar being said, all your work belongs to us.</li>
        <li>Have fun! Learning is a beautiful process.</li>
      </ol>

    </main>

    {% include 'footer.html' %}



    <script src="{{ url_for('static', filename='scripts.js') }}" type="module"></script>
  </body>

</html>